@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url(../img/WeatherRain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

}


header nav {
    padding: 40px 0px;
}

.hero .container {
    display: flex;
    justify-content: start;
    gap: 20px;
    /* border: 2px solid red; */
    margin-top: 350px;
    padding: 50px 0px;

}

.blow {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 32px;
}

.hero h1 {
    font-size: 145px;
    font-weight: 400;

}

.hero .location h2 {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 2px;
}

.hero .location h5 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.hero .icon img {
    width: 60px;
}

header .card {
    /* border: 2px solid orange; */
    width: 550px;
    position: absolute;
    /* top: 0px; */
    /* bottom: -64px; */
    right: 0px;
    height: 100vh;
    backdrop-filter: blur(10px);
    padding: 40px 0px 0px 35px;
}

.card form {
    /* border: 1px solid #000; */
    width: 350px;
    padding: 10px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ffffff7d;
    cursor: pointer;
    margin-bottom: 30px;
}

form input {
    width: 85%;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
    background-color: inherit;
    outline: none;
    border: none;
}

form input::placeholder {
    color: #FFFFFFB2;
    letter-spacing: 2px;
}

form i {
    color: #FFFFFF;
    font-size: 22px;
    padding-right: 40px;
}

.card h4 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.card h3 {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.card .box {
    /* border: 2px solid red; */
    width: 350px;
    padding-bottom: 30px;
    border-bottom: 3px solid #ffffffc4;
}

.box .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box .row .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* border: 1px solid #000; */
    width: 90px;
}

.box .row .result img {
    width: 18px;
}

.row h5 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff92;
    letter-spacing: 1px;
}

nav form {
    display: none;
}

@media(max-width:467px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* header {
    background-image: url(../img/WeatherSnow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */
    

    header nav {
        padding: 20px 0px;
    }

    nav a img {
        width: 70px;
    }

    nav form {
        display: block;
        display: flex;
        align-content: center;
        justify-content: space-between;
        border-bottom: 2px solid white;
    }

    nav form i {
        font-size: 18px;
        padding-top: 10px;
        padding-right: 0px;
        margin-bottom: 10px;
    }

    form input {
        font-size: 14px;
    }

    form input::placeholder {
        font-size: 14px;
        font-weight: 500;
    }

    nav .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .hero .container {
        margin-top: 50px;
        padding: 20px 0px;
        gap: 5px;
        border: 3px solid #1511f5;
    }

    .hero h1 {
        font-size: 75px;
        /* margin-bottom: -20px; */
    }

    .hero .location h2 {
        font-size: 35px;
        line-height: 27px;
        letter-spacing: 2px;
    }

    .hero .location h5 {
        font-size: 12px;
        margin-top: 0px;
        letter-spacing: 0.7px;
        line-height: 27px;
    }

    .hero .icon img {
        width: 50px;
    }
header{
    height: 100vh;
    border: 3px solid red;

}
    header .card {
        width: 100%;
        position: absolute;
        bottom: 0px;
        /* top: 233px; */
        /* right: 0px; */
        /* left: 0px; */
        height: 60%;
        backdrop-filter: blur(15px);
        padding: 20px 25px 0px 25px;
        border-top: 4px solid rgba(255, 255, 255, 0.162);
        border: 2px solid yellow;
    }

    .card form {
        display: none;
    }

    .card h4 {
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
        /* margin-top: 0px; */
        margin-left: 0px;
        width: 100%;
    }

    .card h3 {
        font-size: 12px;
        text-align: center;
        margin-bottom: 15px;
    }

    .row h5 {
        font-size: 14px;
        /* border: 1px solid #000; */
    }

    .box .row .result img {
        width: 14px;
    }

    .box .row:nth-child(4) .result img {
        width: 20px;
    }

    .box .row:nth-child(5) .result img {
        width: 20px;
    }

    .box .row:nth-child(4) .result h5 {
        margin-left: -8px;
    }

    .box .row:nth-child(3) .result h5 {
        margin-left: -8px;
    }

    .box .row:nth-child(2) .result h5 {
        margin-left: -3px;
    }

    .box .row:nth-child(5) .result h5 {
        margin-left: -24px;
    }

    .card .box {
        width: 90%;
        height: 225px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        /* border: 1px solid #000; */
    }

    .box .row {
        margin-bottom: 8px;
        /* border: 1px solid #000; */
        width: 100%;
    }

    .box .row .result {
        gap: 10px;
        width: 55px;
    }
}